<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.kartik.foodmanagement">

    <application
        tools:replace="icon, label"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="PlanIt"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SignupActivity" android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".Welcome" android:label="Create event" android:screenOrientation="portrait"></activity>
        <activity android:name=".EventManager" android:screenOrientation="portrait"></activity>
        <activity android:name=".AboutUs" android:label="About Us" android:screenOrientation="portrait"></activity>
    </application>

</manifest>